
$primary:white;
$secondary:black;
$text-color: black;


$spacing-large: 6rem;
$spacing-medium: 2.4rem;
$spacing-small: 1.6rem;
$spacing-xsmall: 1rem;


$font-principal:'Syncopate', sans-serif;
$font-title: 'Montserrat', sans-serif;


$text-large: 50px;
$text-medium: 28px;
$text-base: 16px;
$text-small: 14px;