.puntos{
    font-family: $font-principal ;
    font-size: $text-medium ;
    text-align: left;
    margin-top: 90px;
}

.list-group{
    margin-top: 50px;
    font-family: $font-title;
    font-size: $text-base;
}

.imagen__ventas{
    margin-top: 60px;
    text-align: center;
}

