.puntos{
    font-family: $font-principal ;
    font-size: $text-medium ;
    text-align: left;
    margin-top: 50px;
}

.ventas{
    font-family: $font-title;
    font-size: $text-small;
}

.list-group{
    margin-top: 20px;
    font-family: $font-title;
    font-size: $text-base;
}

.imagen{
    margin-top: 60px;
    text-align: center;
}